{% load humanize %}
<div class="mx-auto my-6 max-w-full overflow-hidden">
    <h1 class="text-xl md:text-2xl font-bold text-black mb-4">Lista de Cálculo</h1>
    <h2 class="text-lg md:text-xl font-semibold text-black mb-2">Items en la lista:</h2>
    <div class="overflow-x-auto shadow-md rounded-lg">
        <table class="w-full bg-white">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                    <th class="py-2 px-4 md:px-6 text-left font-semibold ">Material</th>
                    <th class="py-2 px-4 md:px-6 text-center font-semibold">Área m²</th>
                    <th class="py-2 px-4 md:px-6 text-center font-semibold">Espesor mm</th>
                    <th class="py-2 px-4 md:px-6 text-center font-semibold"></th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                {% for item in items %}
                <tr class="border-b border-gray-200 hover:bg-gray-100 transition-colors duration-200">
                    <td class="py-3 px-4 md:px-6 text-left whitespace-nowrap overflow-hidden text-ellipsis max-w-10 md:max-w-max">
                        <span class="font-semibold text-base truncate">{{ item.material_name }}</span>
                    </td>
                    <td class="py-3 px-4 md:px-6 text-center whitespace-nowrap text-base font-medium">
                        {{ item.area|floatformat:2|intcomma }}
                    </td>
                    <td class="py-3 px-4 md:px-6 text-center whitespace-nowrap text-base font-medium">
                        {{ item.thickness|floatformat:2|intcomma }}
                    </td>
                    <td class="py-3 px-4 md:px-6 text-center">
                        <button hx-get="{% url 'calculate:trans-del' %}?index={{ forloop.counter0 }}"
                            hx-target="#item-list" hx-swap="innerHTML"
                            class="focus:outline-none focus:shadow-outline transition-colors duration-200">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                fill="currentColor">
                                <circle cx="10" cy="10" r="10" fill="red" />
                                <path fill="white" fill-rule="evenodd"
                                    d="M6 6a1 1 0 011.414 0L10 8.586l2.586-2.586A1 1 0 1114 7.414L11.414 10l2.586 2.586a1 1 0 11-1.414 1.414L10 11.414l-2.586 2.586a1 1 0 11-1.414-1.414L8.586 10 6 7.414a1 1 0 010-1.414z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="py-3 px-4 md:px-6 text-center text-gray-500">
                        No hay items en la lista
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
