{% extends 'base/base.html' %}

{% load static %}

{% block title %}ConfortSmart | Inicio | Gonzalo{% endblock title %}

{% block content %}

<header class="text-center mb-12">
    <img src="{{ logo.image.url }}" alt="Logo" class="h-40 w-40 mx-auto mb-4 rounded-lg">
    <h1 class="text-4xl font-bold tracking-wide">Ahorro Energético</h1>
</header>

<section class="w-full max-w-md flex flex-col gap-8 px-6">
    <a href="{% url 'calculate:trans' %}"
        class="w-full py-4 rounded-lg bg-white  hover:bg-gray-100 shadow-lg transform hover:scale-105 transition-transform duration-300">
        <p class="text-green-700 text-xl font-semibold text-center">Transmitancia Térmica</p>
    </a>
    <a href="{% url 'calculate:co2' %}"
        class="w-full py-4 rounded-lg bg-white  hover:bg-gray-100 shadow-lg transform hover:scale-105 transition-transform duration-300">
        <p class="text-green-700 text-xl font-semibold text-center">Emisión de CO2</p>
    </a>
    <a href="{% url 'papers:papers-list' %}"
        class="w-full py-4 rounded-lg bg-white hover:bg-gray-100 shadow-lg transform hover:scale-105 transition-transform duration-300">
        <p class="text-green-700 text-xl font-semibold text-center">Publicaciones</p>
    </a>
</section>

{% endblock content %}