{% extends 'base/base.html' %}
{% load static %}

{% block title %}ConfortSmart | Resultado Cálculo CO2 | Gonzalo{% endblock title %}

{% block content %}

<div class="container w-2/3 flex flex-col justify-evenly items-center bg-slate-100 rounded-md px-5 py-10">

    <h1 class="text-2xl font-semibold text-sky-500 mb-4">Formulario Cálculo Co2</h1>

    <div>
        <form method="post" class="flex justify-center items-center gap-10">
            {% csrf_token %}

            {{ form.materials }}

            {{ form.area }}

            {{ form.thickness }}

            <button 
                hx-post="{% url 'calculate:co2-add' %}" 
                hx-target="#item-list" 
                hx-swap="innerHTML"
                type="submit"
                class="px-2 py-2 rounded-md bg-green-400 shadow-sm shadow-green-600 hover:bg-green-600 transition-all duration-300">Agregar</button>
        </form>

        {% if messages %}
        <ul class="mt-4">
            {% for message in messages %}
            <li class="text-red-500 font-bold text-sm">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div id="item-list" class="container">
        {% include 'calculate/co2/htmx/htmx_item_list.html' %}
    </div>

    <div class="">
        <a href="{% url 'core:index' %}"
            class="px-2 py-2 rounded-md bg-red-400 shadow-sm shadow-red-600 hover:bg-red-600 transition-all duration-300 text-white">Volver</a>
    </div>

</div>

{% endblock content %}