{% extends 'base/base.html' %}
{% load static %}
{% block title %}ConfortSmart | Calculadora CO2 | Gonzalo{% endblock title %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="bg-slate-100 rounded-md px-4 py-8 md:px-6 md:py-10 lg:w-5/6 xl:w-4/5 mx-auto">
        <h1 class="text-2xl md:text-3xl font-semibold text-sky-500 mb-6 text-center">Formulario Cálculo Co2</h1>
        <div
            class="flex flex-col lg:flex-row justify-between items-start lg:items-center space-y-6 lg:space-y-0 lg:space-x-4">
            <form method="post" hx-post="{% url 'calculate:co2-add' %}" hx-target="#item-list" hx-swap="innerHTML"
                class="flex flex-col w-full lg:w-2/3 space-y-4">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 md:gap-10">
                    <div class="flex flex-col">
                        <p class="font-exo text-sm font-semibold text-gray-500 mb-1">{{ form.materials.label }}</p>
                        {{ form.materials }}
                    </div>
                    <div class="flex flex-col">
                        <p class="font-exo text-sm font-semibold text-gray-500 mb-1">{{ form.area.label }}</p>
                        {{ form.area }}
                    </div>
                    <div class="flex flex-col">
                        <p class="font-exo text-sm font-semibold text-gray-500 mb-1">{{ form.thickness.label }}</p>
                        {{ form.thickness }}
                    </div>

                    <button type="submit"
                        class=" self-end w-40 h-11 px-4 py-2 rounded-md bg-green-400 shadow-sm shadow-green-600 hover:bg-green-600 transition-all duration-300 text-white">Agregar</button>
                </div>
            </form>

            <div class="w-full lg:w-2/6 text-black p-4">
                <div class="container flex flex-col justify-center items-center outline-gray-100 shadow-md rounded-md p-4">
                    <p class="text-black font-exo font-bold text-xl md:text-2xl mb-2">Resultado</p>
                    <div id="result">
                        {% include 'calculate/co2/htmx/htmx_result.html' %}
                    </div>
                </div>

            </div>

        </div>
        <div id="item-list" class="mt-8">
            {% include 'calculate/co2/htmx/htmx_item_list.html' %}
        </div>
        <div class="flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4 mt-8">
            <a href="{% url 'core:index' %}"
                class="w-full sm:w-32 text-center px-4 py-2 rounded-md bg-red-400 shadow-sm shadow-red-600 hover:bg-red-600 transition-all duration-300 text-white">Volver</a>
            <button hx-get="{% url 'calculate:co2-result' %}" hx-target="#result" hx-swap="innerHTML"
                class="w-full sm:w-32 text-center px-4 py-2 rounded-md bg-sky-400 shadow-sm shadow-sky-600 hover:bg-sky-600 transition-all duration-300 text-white">Resultado</button>
        </div>
    </div>
</div>
{% endblock content %}