{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</head>

<body>
    <div
        class="min-h-screen flex flex-col justify-center items-center bg-gradient-to-b from-green-600 to-blue-500 text-white">

        {% block content %}

        {% endblock content %}

    </div>

</body>

</html>