{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
</head>

<body>


    {% block content %}

    {% endblock content %}

    <script>
        function sendBeacon() {
            if (navigator.sendBeacon) {
                navigator.sendBeacon("{% url 'calculate:clear_list' %}", "");
            }
        }

        window.addEventListener("beforeunload", sendBeacon);
    </script>



</body>

</html>